:root {
  --clr-primary-400: hsl(241, 81%, 54%);
  --clr-primary-500: hsl(252, 100%, 67%);

  --clr-secondary-200: hsla(256, 72%, 46%, 1);
  --clr-secondary-100: hsla(241, 72%, 46%, 0);

  --clr-white: hsl(0, 0%, 100%);

  --clr-red: hsl(0, 100%, 67%);
  --clr-orange-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);

  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-Dark-gray-blue: hsl(224, 30%, 27%);

  --ff-Hanken: "Hanken Grotesk", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-bolder: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/* improve Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* Remove built-in form typography */
input,
button,
textarea,
select {
  font: inherit;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  line-height: 1;
}

body {
  font-family: var(--ff-Hanken);
  font-size: 0.875rem;
  display: grid;
  place-content: center;
  border: 1px solid black;
}

.results__preview {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  min-width: 320px;
  margin: 2rem o;
  border: 1px solid red;
}
.results__total {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(var(--clr-primary-500), var(--clr-primary-400));
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 40%;
}
.results__total h1 {
  font-size: 1rem;
  opacity: 0.8;
  font-weight: var(--fw-regular);
}
.results__total .marks {
  background: linear-gradient(
    var(--clr-secondary-200),
    var(--clr-secondary-100)
  );
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-top: 1.5rem;
}
.results__total .marks h2 {
  font-size: 3rem;
}
.results__total .marks p {
  opacity: 0.5;
}

.review {
  margin-top: 1.5rem;
  text-align: center;
  width: 80%;
}
.review h2 {
  font-weight: var(--fw-regular);
}
.review p {
  line-height: 1.5;
  opacity: 0.7;
  margin-top: 1rem;
  font-weight: 200;
}

.results__summary {
  display: grid;
  padding: var(--content-padding);
  gap: var(--content-spacing);
}

.results__summary .title {
  font-weight: var(--fw-bolder);
  color: var(--clr-Dark-gray-blue);
  opacity: 0.9;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
}
.card img {
  height: 1.2rem;
}
.card h1 {
  width: 70%;
  font-size: 1.2rem;
}
.card .span {
  font-weight: var(--fw-bolder);
}
.card .par {
  font-weight: var(--fw-bold);
  opacity: 0.5;
}
#reaction {
  background: hsla(0, 100%, 67%, 0.1);
}
#memory {
  background: hsl(39, 100%, 56%, 0.1);
}
#verbal {
  background: hsl(166, 100%, 37%, 0.1);
}
#visual {
  background: hsl(234, 85%, 45%, 0.1);
}
#reaction h1 {
  color: hsla(0, 100%, 67%, 0.788);
}
#memory h1 {
  color: hsl(39, 100%, 56%, 0.788);
}
#verbal h1 {
  color: hsl(166, 100%, 37%, 0.788);
}
#visual h1 {
  color: hsl(234, 85%, 45%, 0.788);
}

.button {
  border: none;
  font-size: 1.3rem;
  padding: 0.7rem 0;
  border-radius: 2rem;
  margin-top: 1rem;
  background: var(--clr-Dark-gray-blue);
  color: var(--clr-white);
}
